<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>Sorties</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-01 p-t-50 p-b-50 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Your profile - Manager</h2>
                    <form method="POST" action="/save_manager_info">
                        <div class="row row-space">
                           
                            <div class="col-2">
                                <div class="input-group" name="nume">
                                    
                                    <label for="nume">Nume: </label>
                                        
                                        <input type="text" id="nume" name="nume" value=<%=user.nume%>>
                                </div>                                                                                         
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="nume">Prenume: </label>
                                        
                                        <input type="text" id="prenume" name="prenume" value=<%=user.prenume%>>
                                </div>
                            </div>

                        </div>
                 
                        <div class="col-2">
                            <div class="input-group">
                                <label for="nume">Adresa: </label>
                                        
                                        <input type="text" id="adresa" name="adresa" value="<%=user.adresa%>">
                                </label>
                               
                            </div>
                        </div>

                        <div class="col-2">
                            <div class="input-group">
                                <label for="nume">Username: </label>
                                        
                                        <input type="text" id="username" name="username" value="<%=user.username%>">
                                </label>
                               
                            </div>
                        </div>
                        
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Edit</button>
                        </div>
                        
                        <br>
                    
                    </form>
                    
                    

                    <form method="POST" action="/delete_employee">
                        
                        <div class="col-2">
                            <h2 class="title">Remove an employee</h2>
                        </div>

                        <div class="col-3">
                            <div class="input-group">
                                <label class="label">CNP Angajat: </label>
                                <input class="input--style-4" type="text" name="cnp">
                            </div>
                        </div>

                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Remove</button>
                        </div>

                    </form>

                    <br>

                    <form method="POST" action="/assign_task">
                        <div class="p-t-14"></div>
                            <div class="col-2">
                                <h2 class="title">Assign a task</h2>
                            </div>

                            <div class="input-group">
                                <label class="label">Sarcina</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="sarcina_id">
                                        <option disabled="disabled" selected="selected">Alege o sarcina</option>
                                        <% user.sarcini.forEach(function(sarcina) { %>
                                            <option value=<%=sarcina.Sarcina_ID%>>( <%=sarcina.Denumire%> ) <%=sarcina.Detalii%>
                                            </option>
                                            
                                        <% }); %>
                                        
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="label">Angajat</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="angajat_id">
                                        <option disabled="disabled" selected="selected">Alege un angajat</option>
                                        <% user.angajati.forEach(function(angajat) { %>
                                            <option value=<%=angajat.Angajat_ID%>>( <%=angajat.Denumire%> ) <%=angajat.Nume%> 
                                                <%=angajat.Prenume%>
                                            </option>
                                            
                                        <% }); %>
                                        
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Assign</button>
                            </div>
                            
                        </div>

                    </form>

                    <form method="POST" action="/assign_complexity">
                        <div class="p-t-14"></div>
                            <div class="col-2">
                                <h2 class="title">Assign the level of difficulty</h2>
                            </div>

                            <div class="input-group">
                                <label class="label">Sarcina</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="sarcina">
                                        <option disabled="disabled" selected="selected">Alege o sarcina</option>
                                        <% user.sarcini0.forEach(function(sarcina) { %>
                                            <option value=<%=sarcina.Sarcina_ID%>>( <%=sarcina.Denumire%> ) <%=sarcina.Detalii%>
                                            </option>                                            
                                        <% }); %>
                                        
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            <div class="input-group">
                                <label class="label">Dificultate</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select name="complexitate">
                                        <option disabled="disabled" selected="selected">Alege un nivel de dificultate</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>                                                                         
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>

                            <div class="p-t-15">
                                <button class="btn btn--radius-2 btn--blue" type="submit">Assign</button>
                            </div>
                            
                        </div>

                    </form>
                                   
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->